# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
**/runConfigurations/

# Build output
out/
build/
target/
logs/
*.log

# Maven/Gradle
.gradle/
.mvn/
settings.xml
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml

# Class & Jar files
*.class
*.jar
*.war
*.ear

# System files
.DS_Store
Thumbs.db
*.swp
*.swo
*.orig
*.rej
